body {
  background-color: #f4f4f4;
}
/* Bootstrap plusing */
.w-10 {
  max-width: 10%;
}
nav .border {
  border-width: 5px !important;
}
/* puplic */
li a,
a {
  text-decoration: none !important;
}
.icon {
  transition: color 0.4s ease-in-out;
}
.social_twitter:hover {
  color: #1da1f2;
}
.social_facebook:hover {
  color: #3b5998;
}
.social_instagram:hover {
  color: #fd1d1d;
}
.social_dribbble:hover {
  color: #ea4c89;
}
.social_tumblr:hover {
  color: #35465c;
}
.social_pinterest:hover {
  color: #bd081c;
}
/* Start Header */
header {
  background-image: url(../images/povit/hero5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.has-dropdown a:after {
  font-family: ElegantIcons;
  content: '\33';
  color: #fff;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  padding: 2px;
}
.has_drop_hovered {
  position: absolute;
  top: 100px;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out;
}
.has_drop_hovered.hov_custom {
  left: 0;
}
.has-dropdown:hover > .has_drop_hovered {
  opacity: 1;
  visibility: visible;
}
.has_drop_hovered a {
  color: black;
}
/* start header section */
.h_s input[type='button'] {
  width: 210px;
}
/* end header section */
/* End Header */
/* ============================================= */
.video_divider {
  background-image: url(../images/povit/side1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative;
}
.divider_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* our prices */
.our-price .price {
  background-color: #1da1f2;
}
.our-price .price .sub {
  font-size: 1.2em;
}
.our-price .price .amount {
  font-size: 3.3em;
  margin-bottom: 10px;
}
.our-price .border {
  border-width: 3px !important;
}
/* clinents */
.comments {
  height: 300px;
}
/* footer */
footer {
  background-color: #47525d;
}
footer .social_icons li {
  display: inline-block;
  font-size: 3em;
  margin: 10px;
}
footer .social_icons li a {
  color: #fff;
}
